{% extends "admin/change_form.html" %}
{% load i18n static %}

{% block extrahead %}{{ block.super }}

<link href="{% static 'async_notifications/newsletter_formchange.css' %}"  type="text/css" media="screen" rel="stylesheet" >
<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"  type="text/css" media="screen" rel="stylesheet" >
<script src="//cdn.jsdelivr.net/npm/tabs@0.2.0/index.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@9.10.13/dist/sweetalert2.all.min.js"></script>

<script>
    django.jQuery(document).ready(function(){
        var container=document.querySelector('.tab-container')
        tabs(container);
    });
</script>
{% endblock %}

{% block field_sets %}
<div class="tab-container">
	<div class="tabs">
		<a class="tab active">{% trans 'Body' %}</a>
		<a class="tab">{% trans "Filters"%}</a>
	</div>
    <br class="clear">
    <div class="tab-panes">
		<div class="tab-pane active">
            {% for fieldset in adminform %}
              {% include "admin/includes/fieldset.html" %}
            {% endfor %}
        </div>
		<div class="tab-pane">
            <div class="module">
            <div class="form-row ">
                <div class="btns">

  <div class="submit-row">

<button type="button" class="actbtn button default" name="filterrecipient">
    {% trans 'Apply filter' %}
</button>


<button type="button" class="actbtn button" name="showemails">
    {% trans 'Show emails' %}
</button>



</div>

                </div>
                <div class="container">
<div class="loading">
<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>
                    <table class="datafilter">

                    </table>
                </div>

            </div>
            </div>
        </div>

	</div>
</div>
{% endblock %}