.loading {
    width: 30%;
    margin: auto;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: red;
  margin: -4px 0 0 -4px;

}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tab-panes .tab-pane {
	display: none
}
.tab-panes .active {
	display: block
}

.tab-container {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.tab {
  border-radius: 0px 20px 0px 0px;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: #666;
  font-weight: 300;
}

/* Change background color of buttons on hover */
.tab:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab.active {
  background-color: #79aec8;
  color: #fff;
}
.actbtn {
    padding: 10px 15px!important;
    margin: 2px 2px!important;
}

.datafilter{
    width: 100%;
}

.emaillu {
  list-style-type: : none;
  margin: 10px 10px;
  padding: 0;
  text-align: left
}

.emaillu li{
  list-style: none;
  display: inline-block;
  width: 30%
}

@media only screen and (max-width: 900px) {
.emaillu li{
  width: 50%;
 }
}

@media only screen and (max-width: 600px) {
.emaillu li{
  width: 100%;
 }
}

.emailexc, .emailexcinf {
  margin-right: 20px;
  color: red
}
.emailhide{
    display: none !important;
}

.limemfil{
    color: lightblue;
    font-size: 0.8em;

}